PORT=5000
SUPABASE_URL=https://umhyoimakdsenywnydcn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtaHlvaW1ha2RzZW55d255ZGNuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjk3NjI4NywiZXhwIjoyMDg4NTUyMjg3fQ.g290HuZxBxR3amNAJBQFS563YBNTepQCNqJ2KvJaRwU
JWT_SECRET=2zv7CIPkZ9N+OhPCFm8WYrmj39XBb1QHuSQzNAKUC9Nj3m/HdAW5+u0Y5ek4Ypt6A+WxwzndBLixu/BcknqbOg==
FRONTEND_URL=http://localhost:5173
